<tr>
    <td bgcolor="#ff6600">
        <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td style="line-height:12pt; height:10px;">
                        <span class="pagetop">
                            <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
                        </span>
                    </td>
                    <td style="text-align:right;padding-right:4px;">
                        <span class="pagetop">
                            <a href="{{ "/profile" | relative_url }}">사이트 소개</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr style="height:10px"></tr>
